<!DOCTYPE html>
<html>
<head> <title></title> <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script> 
<script src="ang2.js"></script>
 <link href="ang2.css" rel="stylesheet" />
</head>
<body ng-app="myModule"> 
<div ng-controller="myController"> 
<table> 
<thead> 
<tr> <th ng-click="sortData('name')"> Name <div ng-class="getSortClass('name')"></div> </th> 
<th ng-click="sortData('dateOfBirth')"> Date of Birth <div ng-class="getSortClass('dateOfBirth')"></div> </th> 
<th ng-click="sortData('gender')"> Gender <div ng-class="getSortClass('gender')"></div> </th> 
<th ng-click="sortData('salary')"> Salary <div ng-class="getSortClass('salary')"></div> </th> 
</tr> </thead> 
<tbody> 
<tr ng-repeat="employee in employees | orderBy:sortColumn:reverseSort"> <td> {{ employee.name }} </td> 
<td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td> <td> {{ employee.gender }} </td> 
<td> {{ employee.salary }} </td> </tr> </tbody> </table> </div>
</body>
</html>